.textFooter {
    text-align: center;
}

.image{
    width: 100%;
    object-fit: fill;
}

h5 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark{
    background-color: #222;
    color: #fff;
}

.light{
    background-color: #fff;
    color: #222;
}